body {
    font-family: "Inconsolata";
    background-color: black;
    color: white;
    text-align: center;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: midnightblue;
}

button {
    outline: none;
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(110, 0, 255, 0.5);
}

header {
    padding: 2em;
}

nav {
    text-transform: uppercase;
}

ul {
    padding: 0;
    list-style-type: none;
}

li {
    padding: 5%;
    display: inline-block;
}

main {
}