html {
    height: 100%;
}

body {
    font-family: "Inconsolata";
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    min-height: 100%;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: midnightblue;
}

button {
    font-family: "Inconsolata";
    outline: none;
    transition-duration: 0.4s;
    background: rgba(110, 0, 255, 0.5);
}

button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

header {
    padding: 2em;
}

nav {
    text-transform: uppercase;
}

.navigation {
    padding: 0;
    list-style-type: none;
}

.navigation-item {
    padding: 5%;
    display: inline-block;
}

main {
}