.center {
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: #329cb0; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.info {
    font-size: 2em;
    background: linear-gradient(#ff00bf, #00c0ff);
}

.minecraft {
    padding-top: 1em;
}

section{
    margin-right: auto;
    margin-left: auto;
}

.renderer {
    border: solid blue;
    border-radius: 20%;
}

.player {
    height: 5rem;
    width: 5rem;
    margin: 10rem auto;
    border-radius: 50%;
    border: transparent;
    background: transparent;
    z-index: 2000;
}

.material-icons {
    color: white !important;
    font-size: 5em !important;
}

.artist-label {
    padding-top: 2rem;
}

.ip {
    font-size: 3em;
}