<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Suckfest 2020</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/root.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/suckfest.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    </head>
    <body onload="initPage()">
        <header>
            <h1>SuckFest 2020</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('suckfest') }}">Suckfest 2020</a></li>
                    <li><a href="{{ url_for('artists') }}">Artists</a></li>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="{{url_for('about')}}">About</a></li>
                    <li><a href="{{url_for('contact')}}">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <body>
                <h1></h1>
                <img src="{{ url_for('static',filename = 'suckfmpic.jpg')}}" alt="SuckFM Group">
                <p style="text-align:left;">SuckFM is a multi-genre music collective operating out of the Midwest US and was founded by N a R O in 2018. The whole purpose of this collective is to serve as an outlet for artists to collaborate and help one another, as well provide another source of uploading/submiting music for the world to hear.</p>
            </body>
        </main>
    </body>
</html>
