<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Suckfest 2020</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/root.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/suckfest.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    </head>
    <body>
        <header>
            <h1>SuckFest 2020</h1>
            <nav>
                <ul class="navigation">
                    <li class="navigation-item"><a href="{{ url_for('home') }}">Home</a></li>
                    <li class="navigation-item"><a href="{{ url_for('suckfest') }}">Suckfest 2020</a></li>
                    <li class="navigation-item">Artists</li>
                    <li class="navigation-item">Events</li>
                    <li class="navigation-item"><a href="{{url_for('about')}}">About</a></li>
                    <li class="navigation-item">Contact</li>
                </ul>
            </nav>
        </header>
        <main>
            <body>
                <img src="{{ url_for('static',filename = 'suckfmpic.jpg')}}" alt="SuckFM Group" height="500" width="750">
                <img src="{{ url_for('static',filename = 'suckfmformal.jpg')}}" alt="SuckFM Group" height="500" width="750">
                <p style="text-align:left;">SuckFM is a multi-genre DIY music collective operating out of the Midwest US. Being founded on November 9th 2018 by N A R O in Rolla MO, SuckFM has released one album, Signals Vol.1, and continues to release singles and artist EPs on various streaming platforms. Currently with 20 members and growing, SuckFM provides a genre fluid interpretation of the ever changing Midwest music scene. The whole purpose of this collective is to serve as an outlet for artists to collaborate and help one another, as well as provide another source of uploading/submiting music for the world to hear.</p>
                <br>
                <br>
            </body>
        </main>
    </body>
</html>
