<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Suckfest 2020</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/root.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/suckfest.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    </head>
    <body onload="initPage()">
        <header>
            <h1>SuckFest 2020</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('suckfest') }}">Suckfest 2020</a></li>
                    <li><a href="{{ url_for('artists') }}">Artists</a></li>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="{{url_for('about')}}">About</a></li>
                    <li><a href="{{url_for('contact')}}">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <a href="https://secure.everyaction.com/4omQDAR0oUiUagTu0EG-Ig2" class="button">CLICK HERE TO DONATE TO BLACK VISIONS COLLECTIVE</a>
            </section>
            <br>
            <section class="visualizer">
                <div class = "center">
                    <canvas id="renderer">
                    </canvas>
                    <button class="player">
                        <i class="material-icons">play_circle_outline</i>
                    </button>
                    <p class="artist-label">Current artist</p>
                </div>
            </section>
            <section>
                <div class = "center">
                    <iframe src="https://mixlr.com/users/8461770/embed?color=329cb0&autoplay=true" width="60%" height="150px" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe><small><a href="https://mixlr.com/suckfm" style="color:#1a1a1a;text-align:left; font-family:Helvetica, sans-serif; font-size:11px;"></a></small>
                </div>
            </section>
            <section>
                <div class = "center">
                    <p>Come party with us in Minecraft</p>
                    <code class="ip">minecraft.suckfm.com</code>
                </div>
            </section>
        </main>
        <script src="{{ url_for('static', filename='scripts/visualizer.js') }}"></script>
    </body>
</html>