<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Suckfest 2020</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/root.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/suckfest.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    </head>
    <body onload="changeArtist()">
        <header>
            <h1>SuckFest 2020</h1>
            <nav>
                <ul class="navigation">
                    <li class="navigation-item"><a href="{{ url_for('home') }}">Home</a></li>
                    <li class="navigation-item"><a href="{{ url_for('suckfest') }}">Suckfest 2020</a></li>
                    <li class="navigation-item">Artists</li>
                    <li class="navigation-item">Events</li>
                    <li class="navigation-item"><a href="{{ url_for('about') }}">About</a></li>
                    <li class="navigation-item">Contact</li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="center donation">
                <a href="https://secure.everyaction.com/4omQDAR0oUiUagTu0EG-Ig2" target="_blank" class="button">CLICK HERE TO DONATE TO BLACK VISIONS COLLECTIVE</a>
            </section>
            <br>
            <section>
                <div class = "center info grid-wrapper">
                    <p class="artist-label">Current artist: <strong id="currentArtist"></strong></p>
                    <button id="myBtn">View Schedule</button>
                    <br>
                    <iframe class="mixlr" src="https://mixlr.com/users/8461770/embed?color=329cb0&autoplay=true" width="60%" height="150px" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe><small><a href="https://mixlr.com/suckfm" style="color:#1a1a1a;text-align:left; font-family:Helvetica, sans-serif; font-size:11px;"></a></small>
                </div>
                <!-- The Modal -->
                <div id="myModal" class="modal">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <img class="poster" src="{{ url_for('static', filename='poster.png') }}">
                    </div>

                    </div>
            </section>
            <section>
                <div class = "center minecraft">
                    <p>Come party with us in Minecraft</p>
                    <code class="ip">minecraft.suckfm.com</code>
                </div>
            </section>
        </main>
        <script src="{{ url_for('static', filename='scripts/artists.js') }}"></script>
    </body>
</html>