<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Suckfest 2020</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/root.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/suckfest.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    </head>
    <body onload="initPage()">
        <header>
            <h1>SuckFest 2020</h1>
            <nav>
                <ul>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('suckfest') }}">Suckfest 2020</a></li>
                    <li><a href="{{ url_for('artists') }}">Artists</a></li>
                    <li><a href="events.html">Events</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section>
                <canvas class="visualizer" id="renderer">
                </canvas>
                <p class="artist-label">Current artist</p>
            </section>
            <button class="player">
                <i class="material-icons">play_circle_outline</i>
            </button>
            <section>
                <p>Come party with us in Minecraft</p>
                <code class="ip">134.209.166.174</code>
            </section>
        </main>
        <script src="{{ url_for('static', filename='scripts/visualizer.js') }}"></script>
    </body>
</html>